<h3>Title: <%= @post.title %></h3>
<h5>URL: <%= @post.url %></h5>
<p>Content: <%= @post.content %></p>

<p>Author: <%= @post.author.username %></p>
<p>Posted to Subs: </p>
<ul>
  <%= @post.subs.each do |sub| %>
    <li><%= sub.title %></li>
  <% end%>
</ul>


<%= link_to "Back", sub_url(@post.subs.first.id) %>
